.picker_wrapper {
	position: absolute !important;
	left: 75% !important;
	top: 1.5rem !important;
}
body {
	font-family: Roboto;
}

button {
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem;
	box-shadow: 0px 0px 5px 0px #505050;
	cursor: pointer;
}
button:hover {
}
